<?xml version="1.0"?>
<services>
  <service behaviorConfiguration="soapBehavior" name="Usat.Sports.Services.Tools">
    <endpoint behaviorConfiguration="httpBehavior" binding="webHttpBinding"
        contract="ToolsService.ITools" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
</services>